<!doctype html>

<head>
    <title>Pick The Walk!</title>
    <style>
        .plot {
            width: 640px;
            min-height: 480px;
            padding: 0;
            margin: auto;
            border: 1;
        }

        .center {
            text-align: center;
            font-family: "Droid Sans Mono", "Courier New", monospace;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="plot center">
        <h1>Experiment results</h1>
        <img src={{ plot }} />
        <p>{{ message }}</p>
    </div>
</body>

</html>